body:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.4);
  z-index: 1;
  content: ' ';
}

body {
  background: url(../img/bg.jpg);
  background-size: cover;
  background-position: center top;
}

.login {
  width: 450px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
  z-index: 10;
}

.input-group {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  border-radius: 0px;
}