@media (max-width: 768px) {
	header .toggle {
		width: 100%;
	}

	#nav-lateral {
		width: 100%;
		z-index: 10;
	}

	#content {
		padding-left: 0 !important;
	}

	.modal-title {
		font-size: 20px;
	}

	#mapa {
		height: 340px;
	}
}