body {
	font-size: 14px;
	color: #333;
	font-family: arial;
	padding-top: 51px;
}

ul {
	padding: 0;
	list-style: none;
}

header {
	position: fixed;
	top: 0;
	z-index: 10000;
	width: 100%;
	background-color: #F6302F;
	padding: 5px 0;
}

header .toggle {
	width: 300px;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
}

header .toggle .sign {
	font-size: 20px;
	padding: 7px 0;
	color: #fff;
	font-weight: bold;
}

header .btn-default {
	border-radius: 0;
	background: none;
	border: 0;
	color: #fff;
}

header .btn-default:hover {
	background-color: #F47170;
}

.user-infos {
	color: #fff;
	padding: 30px 15px;
}

.user-infos .media-left.media-middle {
	width: 30%;
}

.user-infos .media-body {
	width: 70%;
	vertical-align: middle;
	padding-left: 20px;
}

.user-infos .media-heading {
	font-size: 24px;
}

.icon {
	height: 3px;
	display: block;
	width: 28px;
	background-color: #fff;
	margin: 5px 0;
}

#nav-lateral {
	width: 300px;
	background-color: #000;
	transition: all .6s;
	transform: translateX(0px);
	position: absolute;
	left: 0;
	top: 51px;
	bottom: 0;
}

#nav-lateral.nav-hide {
	transform: translateX(-100%);
	overflow: hidden;
}

.nav-tabs {
	border: 0;
}

.nav-tabs a {
	border: 0 !important;
	margin: 0 !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #F6302F;	
}

#nav-lateral a {
	color: #fff;
	border-radius: 0;
}

#nav-lateral a:hover {
	background-color: #F6302F;
}

.foto-perfil {
	padding: 40px 0;
}

.foto-perfil .foto {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.foto-perfil img {
	height: 200px;
}

#content {
	width: 100%;
	padding-left: 300px;
	transition: all .6s;
}

#content .content {
	padding: 0px;
}

.titulo {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
}

.titulo.sub {
	margin-top: 30px;
}

#HEMOCENTROS .hemocentro {
	border: solid 1px #efefef;
	padding: 20px 30px;
	cursor: pointer;
}

#HEMOCENTROS .hemocentro h3 {
	margin: 0;
	margin-bottom: 20px;
}

#HEMOCENTROS .hemocentro:hover {
	background-color: #efefef;
}

#FAMILIA .membro {
	padding: 20px;
	border: solid 1px #efefef;
}

#FAMILIA .membro h3 {
	margin-top: 0;
	font-size: 20px;
}

#NEGOCIACAO .accordion-group {
	border: solid 1px #efefef;
}

#NEGOCIACAO .accordion .accordion-heading {
	border-bottom: solid 1px #efefef;
}

#NEGOCIACAO .accordion .accordion-heading a {
	display: block;
	padding: 10px 20px;
}

#NEGOCIACAO .accordion .accordion-body {
	padding: 10px 20px;
}

.modal-dialog {
	margin-top: 90px;
}

.modal-footer {
	text-align: center;
}

.modal-footer button {
	width: 120px;
	border-radius: 0;
}

#calendario span {
	display: inline-block;
}

#calendario span.dia,
#calendario span.dia-semana {
	display: inline-block;
	width: 14%;
	padding: 20px 0;
	text-align: center;
}

#calendario span.txt {
	height: 15px;
	width: 20px;
	text-align: center;
	font-weight: bold;
	color: #9D9D9D;
}

#calendario span.dia-semana {
	/*border: solid 1px #F6302F;*/
	background-color: #F6302F;
}

#calendario span.dia-semana .txt {
	color: #fff;
}

#body-calendario span.dia {
	/*border: solid 1px #9D9D9D;*/
}

.adicionar {
	padding: 6px 9px;
	border-radius: 100px;
}

.coracao {
	text-align: center;

}

.coracao img {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.coracao .fundo {
	display: inline-block;
	position: relative;
}

.coracao .bg-coracao {
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: red;
	transition: none;
}

.mouse
{
	cursor: pointer;
}
.separacao-direita
{
	margin-left:145px;
	cursor: pointer;
}

.coracao .bg-coracao.active {
	top: 30%;
}

#PRINCIPAL h3 {
	margin: 0;
	margin-top: 40px;
	text-align: center;
}

#NOTICIAS .noticia4 {
	padding: 30px;
	border: solid 1px #efefef;
}

#NOTICIAS .noticia {
	border: solid 1px #efefef;
	padding: 20px 30px;
	cursor: pointer;
}

#NOTICIAS .noticia h3 {
	margin: 0;
	margin-bottom: 20px;
}

#NOTICIAS .noticia:hover {
	background-color: #efefef;
}

.floatnoticia img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.modal-title {
	font-size: 24px;
	margin: 0;
	margin-bottom: 20px;
}

.agendamento {
	border-radius: 0;
	width: 210px;
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
}

.day.disabled {
	background-color: #E8E8E8;
	cursor: default !important;
}

.day.disabled a {
	color: #bbb;
	cursor: default !important;
}

.day.disabled a:hover {
	background-color: #E8E8E8 !important;
	cursor: default !important;
}

.responsive-calendar .controls span {
	display: inline-block;
	margin: 0 10px;
}

.responsive-calendar .day a:hover {
	background-color: #D1FCDB;
}

.day-active {
	background-color: #D1FCDB;
}

.titulo-horarios {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

.horarios-funcionamento p {
	margin: 0;
	text-align: center;
	padding: 8px;
	border: solid 1px #ddd;
	font-weight: bold;
	margin-bottom: 20px;
	cursor: pointer;
}

.horarios-funcionamento p:hover {
	border: solid 1px #D1FCDB;
	background-color: #D1FCDB;
}

.btn-agendar-doacao {
	width: 100%;
	border-radius: 0;
}


#image-preview {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }
  label_img {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
}