<?php

include "conexao.php";

$db = get_db();

header('Content-Type: text/html; charset=utf-8');
$db->query("SET NAMES 'utf8'");
$db->query('SET character_set_connection=utf8');
$db->query('SET character_set_client=utf8');
$db->query('SET character_set_results=utf8');

$query = $db->query(
	"SELECT * FROM hemocentros"
);

$hemocentros = array();
while($hemocentro = $query->fetch(PDO::FETCH_OBJ)){

	$lat = (!empty($_GET['lat']) ? $_GET['lat'] : '-23.5856797');
	$lng = (!empty($_GET['long']) ? $_GET['long'] : '-46.6789495');

	$distancia =  number_format(distance($hemocentro->latitude,$hemocentro->longitude,$lat,$lng,'K'),2,',','');

	$hemocentros[$hemocentro->id] = array(
		'id'				=> $hemocentro->id,
		'nome'				=> $hemocentro->nome,
		'logradouro'		=> $hemocentro->logradouro,
		'numero'			=> $hemocentro->numero,
		'complemento'		=> $hemocentro->complemento,
		'bairro'			=> $hemocentro->bairro,
		'cidade'			=> $hemocentro->cidade,
		'estado'			=> $hemocentro->estado,
		'pais'				=> $hemocentro->pais,
		'latitude'			=> $hemocentro->latitude,
		'longitude'			=> $hemocentro->longitude,
		'orgao'				=> $hemocentro->orgao,
		'estacionamento'	=> $hemocentro->estacionamento,
		'cadastro_medula'	=> $hemocentro->cadastro_medula,
		'doacao_aferese'	=> $hemocentro->doacao_aferese,
		'distancia'			=> $distancia
	);

	$query_tel = $db->query(
		"SELECT * FROM telefones WHERE hemocentro_id = " . $hemocentro->id
	);

	while($telefone = $query_tel->fetch(PDO::FETCH_OBJ)){

		$hemocentros[$hemocentro->id]['Telefone'][] = array(
			'id'			=> $telefone->id,
			'hemocentro_id'	=> $telefone->hemocentro_id,
			'ddd'			=> $telefone->ddd,
			'telefone'		=> $telefone->telefone,
			'tipo'			=> $telefone->tipo
		);

	}

	$query_expediente = $db->query(
		"SELECT * FROM expedientes WHERE hemocentro_id = " . $hemocentro->id
	);

	while($expediente = $query_expediente->fetch(PDO::FETCH_OBJ)){

		$hemocentros[$hemocentro->id]['Expediente'][] = array(
			'id'			=> $expediente->id,
			'hemocentro_id'	=> $expediente->hemocentro_id,
			'dom'			=> $expediente->dom,
			'seg'			=> $expediente->seg,
			'ter'			=> $expediente->ter,
			'qua'			=> $expediente->qua,
			'qui'			=> $expediente->qui,
			'sex'			=> $expediente->sex,
			'sab'			=> $expediente->sab
		);

	}

}

sort($hemocentros);

$hemocentros = ordenar($hemocentros);

$hostname= "google.php";

echo carrega_html($hostname);

function carrega_html($url) {
	$ch = curl_init();
	$timeout = 5;
	curl_setopt($ch, CURLOPT_URL, $url);
	curl_setopt($ch, CURLOPT_USERAGENT, "Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.0)");
	curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
	curl_setopt($ch, CURLOPT_SSL_VERIFYHOST,false);
	curl_setopt($ch, CURLOPT_SSL_VERIFYPEER,false);
	curl_setopt($ch, CURLOPT_MAXREDIRS, 10);
	// curl_setopt($ch, CURLOPT_FOLLOWLOCATION, 1);
	curl_setopt($ch, CURLOPT_CONNECTTIMEOUT, $timeout);
	$data = curl_exec($ch);
	curl_close($ch);
	return $data;
}

function distance($lat1, $lon1, $lat2, $lon2, $unit) {
	$theta = $lon1 - $lon2;
	$dist = sin(deg2rad($lat1)) * sin(deg2rad($lat2)) +  cos(deg2rad($lat1)) * cos(deg2rad($lat2)) * cos(deg2rad($theta));
	$dist = acos($dist);
	$dist = rad2deg($dist);
	$miles = $dist * 60 * 1.1515;
	$unit = strtoupper($unit);

	if ($unit == "K") {
	return ($miles * 1.609344);
	} else if ($unit == "N") {
	return ($miles * 0.8684);
	} else {
	return $miles;
	}
}

function ordenar($ns) {

	for($i=0;$i<count($ns);$i++)
		for($j=0;$j<count($ns)-1;$j++)
			if(floatval($ns[$j+1]['distancia']) < floatval($ns[$j]['distancia'])){
				$aux = $ns[$j];
				$ns[$j] = $ns[$j+1];
				$ns[$j+1] = $aux;
			}

	return $ns;

}

?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">

	<meta charset="UTF-8">
	<title>Heroes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<link rel="stylesheet" href="css/styles.css">

</head>
<body>

	<header>
		<div class="toggle">
			<span class="pull-left sign">HEROES</span>
			<button class="btn btn-default toggle-nav">
				<span class="icon"></span>
				<span class="icon"></span>
				<span class="icon"></span>
			</button>
		</div>
	</header>

	<aside id="nav-lateral">

		<div class="user-infos">
			<div class="media">
				<div class="media-left media-middle">
					<a href="#">
						<img class="media-object img-responsive" src="img/garota-bonita.jpeg" alt="...">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Lorem ipsum</h4>
					22 anos
				</div>
			</div>
		</div>
		
		<ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#PRINCIPAL" aria-controls="home" role="tab" data-toggle="tab">PRINCIPAL</a></li>
			<li role="presentation"><a href="#HEMOCENTROS" aria-controls="home" role="tab" data-toggle="tab">HEMOCENTROS</a></li>
			<li role="presentation"><a href="#MINHAS" aria-controls="home" role="tab" data-toggle="tab">DOAÇÕES</a></li>
			<!--<li role="presentation"><a href="#GRUPOS" aria-controls="home" role="tab" data-toggle="tab">GRUPOS</a></li>-->
			<li role="presentation"><a href="#NOTICIAS" aria-controls="home" role="tab" data-toggle="tab">NOTÍCIAS</a></li>
			<li role="presentation"><a href="#FAMILIA" aria-controls="home" role="tab" data-toggle="tab">FAMÍLIA</a></li>
			<li role="presentation"><a href="#SOBRE" aria-controls="home" role="tab" data-toggle="tab">SOBRE</a></li>
			<li role="presentation"><a href="#LOGOUT" aria-controls="home" role="tab" data-toggle="tab">SAIR</a></li>
		</ul>

	</aside>

	<aside id="content">

		<div class="content">

			<div class="tab-content">

				<!-- PRINCIPAL -->
				<div role="tabpanel" class="tab-pane active" id="PRINCIPAL">
					<div class="coracao">
						<div class="fundo">
							<img src="img/coracao_vazio.png" alt="" class="img-responsive">
							<div class="bg-coracao"></div>
						</div>
					</div>
					<h3>Faltam 20 dias para você doar novamente!</h3>
				</div>
				<!-- //PRINCIPAL -->

				<!-- HEMOCENTROS -->
				<div role="tabpanel" class="tab-pane" id="HEMOCENTROS">
					
					<h1 class="titulo">HEMOCENTROS</h1>

					<?php foreach($hemocentros as $hemocentro){ ?>
					<div class="row">
						<div class="col-md-12">
							<div rel="<?php echo $hemocentro['id'];?>" class="hemocentro" type="button" data-toggle="magnificPopup" latitude="<?php echo $hemocentro['latitude'];?>" longitude="<?php echo $hemocentro['longitude'];?>" minha_lat="<?php echo $lat;?>" minha_long=<?php echo $lng; ?> >
								<h3><?php echo $hemocentro['nome'];?></h3>
								<p>
									<?php

									echo	$hemocentro['logradouro']
											.(!empty($hemocentro['numero']) ? ', ' . $hemocentro['numero'] : '')
											.(!empty($hemocentro['complemento']) ? ', ' . $hemocentro['complemento'] : '')
											.(!empty($hemocentro['bairro']) ? ', ' . $hemocentro['bairro'] : '')
											.(!empty($hemocentro['cidade']) ? ', ' . $hemocentro['cidade'] : '')
											.(!empty($hemocentro['estado']) ? ', ' . $hemocentro['estado'] : '')
											.(!empty($hemocentro['pais']) ? ', ' . $hemocentro['pais'] : '');
									?>
								</p>
								<p>
									<?php foreach($hemocentro['Telefone'] as $telefone){ ?>
										<?php echo $telefone['telefone'];?>
									<?php } ?>
								</p>
								<p>
									<?php echo ($hemocentro['estacionamento'] == 0 ? 'Sem estacionamento' : null);?>
									<?php echo ($hemocentro['estacionamento'] == 1 ? 'Estacionamento grátis' : null);?>
									<?php echo ($hemocentro['estacionamento'] == 2 ? 'Estacionamento pago' : null);?>
									<?php echo ($hemocentro['cadastro_medula'] ? ' - Cadastro para doação de medula' : '');?>
									<?php echo ($hemocentro['doacao_aferese'] ? ' - Faz doação por aferese' : ' - Não faz doação por aferese');?>
								</p>
								<p>
									<?php if($hemocentro['orgao'] == 'privado'){
										echo 'Privado';
									}else{
										echo "Público";
									} ?>
									- <?php echo $hemocentro['distancia'];?> KM
								</p>
							</div>
						</div>
					</div>
					<?php } ?>

				</div>
				<!-- //HEMOCENTROS -->

				<!-- MINHAS DOAÇÕES -->
				<div role="tabpanel" class="tab-pane" id="MINHAS">

					<h1 class="titulo">AGENDADOS</h1>

					<div class="accordion" id="accordion2">
						<div class="row">
							<div class="col-md-12">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
											Fundação Pró-Sangue Hemocentro de São Paulo - Posto Barueri
										</a>
									</div>
									<div id="collapseOne" class="accordion-body collapse in">
										<div class="accordion-inner">
											<p>10/01/2015 - 10:30</p>
											<p>R. Angela Mirella, 354, Térreo, Jardim Barueri, Barueri, São Paulo, Brasil</p>
											<p>Doação por aférese</p>
											<a href="#">Cancelar agendamento</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<h1 class="sub titulo">HISTÓRICOS</h1>

					<div class="accordion" id="accordion2">
						<div class="row">
							<div class="col-md-12">
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
											Fundação Pró-Sangue Hemocentro de São Paulo - Posto Clínicas
										</a>
									</div>
									<div id="collapseOne" class="accordion-body collapse in">
										<div class="accordion-inner">
											<p>10/01/2015 - 10:30</p>
											<p>R. Angela Mirella, 354, Térreo, Jardim Barueri, Barueri, São Paulo, Brasil</p>
											<p>Doação por aférese</p>
											<a href="#">Cancelar agendamento</a>
										</div>
									</div>
								</div>
								<div class="accordion-group">
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
											Fundação Pró-Sangue Hemocentro de São Paulo - Posto Dante Pazzanese
										</a>
									</div>
									<div id="collapseTwo" class="accordion-body collapse">
										<div class="accordion-inner">
											<p>25/06/2015 - 11:00</p>
											<p>R. Angela Mirella, 354, Térreo, Jardim Barueri, Barueri, São Paulo, Brasil</p>
											<p>Doação por aférese</p>
											<a href="#">Cancelar agendamento</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //MINHAS DOAÇÕES -->

				<!-- GRUPOS -->
				<!-- //GRUPOS -->

				<!-- NOTÍCIAS -->
								<div role="tabpanel" class="tab-pane" id="NOTICIAS">

					<h1 class="titulo">NOTÍCIAS</h1>

					<div id="noticias">
							<table>			
						<div class="row">
							<div class="col-md-6">
								<div class="noticia">
									<article>
										<div class="row" type="button"  data-toggle="modal" data-target="#myModal" >
											<div class="col-md-4">
												<img src="http://s2.glbimg.com/ZS9pHGSm7mmTCoppXmVjNs7lbLw=/300x225/s.glbimg.com/jo/g1/f/original/2015/07/21/sangueee.jpg" alt="" class="img-responsive">
											</div>
											<div class="col-md-8">
												<h4>Doações de sangue em Volta Redonda, RJ, caem durante as férias</h4>
												<p>Queda chega a 50%, segundo coordenação da unidade.
												Doadores ficam ausentes devido a viagens.</p>
												<a href="javascript:void(0);">Clique para continuar lendo</a>
											</div>
										</div>
									</article>
								</div>
							</div>
							<div class="col-md-6" type="button" data-toggle="modal" data-target="#myModal2">
								<div class="noticia">
									<article>
										<div class="row">
											<div class="col-md-4">
												<img src="img/noticia.jpg" alt="" class="img-responsive">
											</div>
											<div class="col-md-8">
												<h4>Campanha pede doação de sangue em postos da Grande São Paulo</h4>
												<p>Doações caem nesta época do ano e estoques precisam de reposição.
Veja critérios para ser doador e onde encontrar postos de coleta.</p>
												<a href="javascript:void(0);">Clique para continuar lendo</a>
											</div>
										</div>
									</article>
								</div>
							</div>
							<!-- Button trigger modal -->


								<!-- Modal -->
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
							<div class="modal-content">
							  <div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Doações de sangue em Volta Redonda, RJ, caem durante as férias</h4>
							  </div>
							  <div class="modal-body">
							  <p>
	Julho é mês de férias escolares e muitas famílias aproveitam para viajar. Isso afeta o funcionamento do hemonúcleo de <a class="premium-tip" href="/rj/sul-do-rio-costa-verde/cidade/volta-redonda.html">Volta Redonda</a>, no Sul do Rio de Janeiro, porque doadores ficam ausentes. Se em dias normais a média diária é de 30 doações, nas férias mal chega a 15.</p>
<p>
	"É importante ressaltar que o atendimento às pessoas que necessitam, em algum momento durante seu tratamento, de algum componente do sangue, ainda é necessário. E se a gente não tiver doação de sangue, a gente não tem esses componentes para estarem sendo encaminhados a esses pacientes", diz a coordenadora do hemonúcleo, Cristina Guimarães do Nascimento.</p>
<div class="floatnoticia">
	<img alt="Estoques do hemonúcleo de Volta Redonda estão baixos (Foto: Reprodução/TV Rio Sul)" height="225" src="http://s2.glbimg.com/ZS9pHGSm7mmTCoppXmVjNs7lbLw=/300x225/s.glbimg.com/jo/g1/f/original/2015/07/21/sangueee.jpg" title="Estoques do hemonúcleo de Volta Redonda estão baixos (Foto: Reprodução/TV Rio Sul)" width="300"><strong>Estoques do hemonúcleo estão baixos<br>
	(Foto: Reprodução/TV Rio Sul)</strong></div>
<p>
	Os estoques baixos são um problema maior em julho porque, com mais viagens, os riscos de acidentes aumentam e a necessidade de transfusões pode ser maior. Para continuar suprindo as seis cidades que atende, a única saída da equipe do hemonúcleo é buscar doadores.</p>
<p>
	"As nossas recepcionistas ligam convocamdo os doadores que já estão no tempo de retornar. As nossas técnicas de enfermagem vão até às unidades do Hospital São João Batista solicitando a colaboração dos familiares [de pacientes] para nos ajudarem. Há um trabalho de translado de doadores com outras instituições, como acontece em Piraí, toda sexta-feira. Estamos iniciando também com Pinheiral um trabalho na captação de doadores", conta Cristina.</p>
<p>
	Para fazer doações é preciso estar em boas condições de saúde, ter entre 16 e 69 anos, pesar no mínimo 50 kg e ter dormido pelo menos seis horas na última noite. O candidato passa por uma pequena avaliação e vai para sala de coleta, onde todo o processo dura no máximo meia hora.</p>
<p>
	"Não dói nada. Quem quiser pode vir doar sim, porque é fácil, rápido, tudo tranquilo", garante a atendende Suzana Silva Araújo, doadora regular do hemonúcleo. Ele funciona anexo ao Hospital São João Batista, no bairro Colina.</p>

							 </div>
							  <div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Compartilhar</button>
								<button type="button" class="btn btn-primary">Curtir</button>
							  </div>
							</div>
						  </div>
						</div>
						</div>
						</table>
						<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">Campanha pede doação de sangue em postos da Grande São Paulo</h4>
      </div>
      <div class="modal-body">
        <div><p>
	Começa nesta segunda-feira (22) a 7ª Quinzena Municipal de doação de sangue. O evento busca preencher os estoques dos hemocentros em uma época do ano em que, por causa das férias escolares, as doações diminuem.</p>
<p>
	A campanha, que relaciona a doação à falta d’água, é feita em parceria com a Associação Beneficente de Colete de Sangue (Colsan). Segundo o diretor de agências transfusionais e postos da entidade, Afonso José Pereira Cortez, "se cada pessoa saudável doasse sangue pelo menos duas vezes ao ano, os hemocentros teriam hemocomponentes suficientes para atender toda a população.”</p>
<p>
	Os interessados em doar devem ter entre 16 e 69 anos de idade, sendo que a primeira doação deve ter sido feita antes dos 60 anos. Também é preciso atender a outros critérios, como pesar mais de 50 kg (veja lista completa abaixo).</p>
<p>
	<br>
	Sete endereços na Grande <a class="premium-tip" href="/sp/sao-paulo/cidade/sao-paulo.html">São Paulo</a> fazem parte da campanha, além de dois endereços no interior do estado.</p>
<p>
	<strong>Requisitos para doação</strong><br>
	- Documento oficial de identidade com foto (RG, carteira profissional ou carteira de habilitação);<br>
	- Ter entre 16 e 69 anos, sendo que a primeira doação deve ter sido feita antes dos 60 anos;<br>
	- Pesar mais de 50 Kg;<br>
	- Estar em boas condições de saúde;<br>
	- Não oferecer risco de transmitir doenças pelo sangue (usuário de drogas injetáveis e inalatórias, prática de sexo não seguro).</p>
<p>
	<strong>Postos de coleta</strong><br>
	Hospital Municipal Dr. Carmino Caricchio - Tatuapé<br>
	Av. Celso Garcia,4815 - Tatuapé<br>
	São Paulo - SP - Tel: 2942-8094 / 3394-7081<br>
	Segunda a sábado das 8h às 13h (exceto feriado)<br>
	&nbsp;</p>
<p>
	Hospital Municipal Alípio Correa Neto – Ermelino Matarazzo<br>
	Al.Rodrigo de Brum, 1989<br>
	São Paulo - SP – Tel: 2545-4652<br>
	Segunda a sábado das 8h às 13h (exceto feriado)<br>
	&nbsp;</p>
<p>
	Hospital do Servidor Público Municipal – Aclimação<br>
	R. Castro Alves , 60 – 4º andar<br>
	São Paulo – SP – Tel: 3277-5303<br>
	Segunda a sábado das 8h às 13h (exceto feriado)<br>
	Obervação: 01 de julho a 3 de agosto de 2015 estará fechado para reforma</p>
<p>
	Hospital Municipal Dr. Fernando Mauro P. da Rocha - Campo Limpo<br>
	Estrada Itapecerica 1661<br>
	São Paulo - SP - Tel: 5812-1379<br>
	Segunda a sábado das 8h às 13h (exceto feriado)</p>
<p>
	Núcleo Regional de Hemoterapia Dr. Aguinaldo Quaresma<br>
	Rua Peri, 361 - Oswaldo Cruz<br>
	São Caetano do Sul - SP - Tel: 4227-1083<br>
	Segunda a sábado das 8h às 12h (exceto feriado)<br>
	&nbsp;</p>
<p>
	Hospital Estadual Mário Covas<br>
	Rua Dr. Henrique Calderazzo,321<br>
	Santo André - SP - Tel: 2829-5162 / 2829-5144<br>
	Segunda a sábado das 8h às 13h (exceto feriado)</p>
<p>
	Centro Hospitalar Santo André<br>
	Av. João Ramalho,326<br>
	Santo André - SP - Tel: 4433-3718<br>
	Segunda a sábado das 8h às 13h (exceto feriado)<br>
	&nbsp;</p>
<p>
	Hemocentro Regional São Bernardo do Campo - Colsan<br>
	Rua Pedro Jacobucci, 440 - Jardim das Américas<br>
	São Bernardo do Campo - SP -Tel: 4332-3900<br>
	Segunda a sábado das 8h às 13h (exceto feriado)<br>
	Estacionamento: Rua: Olavo Bilac, 240 - Estádio Primeiro de Maio<br>
	&nbsp;</p>
<p>
	Colsan Jundiaí<br>
	Rua XV de Novembro 1848<br>
	Jundiaí - SP -Tel: (11) 4521-4025<br>
	Segunda a sábado das 7h30 às 12h30 (exceto feriado)<br>
	Estacionamento: Av. dos Ferroviários, 2100<br>
	&nbsp;</p>
<p>
	Colsan Sorocaba<br>
	Rua Comendador Pereira Inácio, 564<br>
	Sorocaba – SP – Tel: (15) 3224-2930 / 3332-9461<br>
	Segunda a sábado das 7h30 às 12h30 (exceto feriado)<br>
	Estacionamento no local<br>
	&nbsp;</p>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Compartilhar</button>
        <button type="button" class="btn btn-primary">Curtir</button>
      </div>
    </div>
  </div>
</div>

					</div>

				</div>
				<!-- //NOTÍCIAS -->

				<!-- SOBRE -->
				<div role="tabpanel" class="tab-pane" id="SOBRE">

					<h1 class="titulo"> SOBRE</h1>

						<h2> 
							O que é o Heroes?
						</h2>

							<p>
								O Heroes é um sistema para gerenciamento e para facilitar a doação de sangue.

								Funciona da seguinte forma:

								Os usuários, doadores ou incentivadores, tem acesso ao sistema através de smartphones, tablets e página WEB,
								podendo realizar e monitorar seus agendamentos, localizar todos os hemocentros cadastrados, além de se manter
								informado vendo nóticias relacionadas a doação de sangue.

								Os hemocentros ou gestores de grupos, terão acesso ao nosso sistema, podendo gerar campanhas e incentivar os doadores,
								além do hemocentro, que terá seu sistema de agendamento integrado com o nosso, podendo assim ter um maior controle

							</p>


						<h2> 
							Como o Heroes começou?
						</h2>

							<p>
								O Heroes é um projeto que nasceu em novembro de 2011 quando um parente do idealizador do projeto precisou
						   		ser submetido a uma cirurgia no coração, na qual, após a internação, seu médco informou que era necessário
						   		que a família conseguisse dezenas de doadores para proceder com a cirurgia.
						   		Esse caso deixou a família toda chocada, o que motivou a criação do Heroes, fazendo com que outras famílias
						   		não passasse por isso.
							</p>
				</div>
				<!--//SOBRE-->

				<!-- FAMILIA -->
				<div role="tabpanel" class="tab-pane" id="FAMILIA">
					
					<h1 class="titulo">
						MINHA FAMÍLIA
						<button class="btn btn-success adicionar" data-toggle="tooltip" data-placement="bottom" title="Adicionar membro">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</h1>

					<div class="row">
						<div class="col-md-12">
							<div rel="1" class="membro" type="button">
								<div class="row">
									<div class="col-md-2 col-sm-3">
										<div class="foto">
											<img class="media-object img-responsive" src="img/prima.jpeg" alt="...">
										</div>
									</div>
									<div class="col-md-10 col-sm-9">
										<h3>Juliana Azevedo da Silva</h3>
										<p>Prima</p>
										<p>AB+</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- //FAMILIA -->
			</div>

		</div>

	</aside>

	<div class="modal fade" id="modal-hemocentro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDtt-F5_2CX3AI9TyXcALtyrcfz5BgTW6E&sensor=true"></script>

	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/responsive-calendar.js"></script>
	<script type="text/javascript" src="js/magnific-popup.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>